!!! 5
-@ import val user: edu.luc.cs.webservices.unfiltered.bookmarks.User
html(lang="en")
  head
    title User: #{name}  
  body
    ul
      li Name: #{name}
      li Full name: #{fullName}
      li Email: #{email}
    